<meta name="viewport" content="width=device-width, initial-scale=1.0">
{{ 'footer2.css' | asset_url | stylesheet_tag }}
<div class="footer2_contenitore">
  <div class="footer2_box1">
    <div class="footer2_logo">
      <h1>REST.ARÍA</h1>
    </div>
    <div class="footer2_social">
      <a class="icona1" href="#">
        <img
          src="https://cdn.shopify.com/s/files/1/0879/3944/9167/files/icons8-instagram.svg?v=1740394989"
          alts=""
          width="30rem"
          height="30rem"
      ></a>
      <a class="icona2" href="#">
        <img
          src="https://cdn.shopify.com/s/files/1/0879/3944/9167/files/icons8-facebook.svg?v=1740394883"
          alts=""
          width="30rem"
          height="30rem"
      ></a>
      <a class="icona3" href="#">
        <img
          src="https://cdn.shopify.com/s/files/1/0879/3944/9167/files/icons8-whatsapp.svg?v=1740395035"
          alts=""
          width="30rem"
          height="30rem"
      ></a>
      <a class="icona4" href="#">
        <img
          src="https://cdn.shopify.com/s/files/1/0879/3944/9167/files/comment-dots-svgrepo-com.svg?v=1740397074"
          alts=""
          width="30rem"
          height="30rem"
      ></a>
    </div>
    <div class="footer2_indirizzo">
      <p
        style="
          font-size:clamp(10px, 1.7vw, 14px); font-weight:bolder;     padding-bottom: 0;font-family:aftika semi bold;
          margin-bottom: 0;
        "
      >
        Napoli
      </p>
      <p
        style="
          font-size: clamp(10px, 1.7vw, 14px); font-weight: lighter;margin-top: 0;font-family:aftika semi bold;
          padding: 0;
        "
      >
        Via Liborio Romano, 16
      </p>
    </div>
  </div>
  <div class="footer2_indirizzomobile">
    <p style="font-size: clamp(10px, 1.7vw, 14px);font-family:aftika semi bold;">Napoli</p>
    <p style="font-size: clamp(10px, 1.7vw, 14px); font-family:aftika semi bold; font-weight: lighter;">
      Via Liborio Romano, 16
    </p>
  </div>
  <div class="footer2_box2">
    <hr size="1" width="100%" color="black" noshade bordertop="single">
  </div>
  <div class="footer2_box3">
    <div class="sezione1"><a href="/pages/shop">Shop</a></div>
    <div class="sezione2"><a href="/pages/about-us">About Us</a></div>
    <div class="sezione3"><a href="/pages/helpcenter">Help Center</a></div>
    <div class="sezione4"><a href="/policies/privacy-policy">Privacy Policy</a></div>
  </div>
  <div class="footer2_sezione1mobile">
    <div class="sezione1"><a href="/pages/shop">Shop</a></div>
    <div class="sezione2"><a href="/pages/about-us">About Us</a></div>
  </div>
  <div class="footer2_sezione2mobile">
    <div class="sezione3"><a href="/pages/helpcenter">Help Center</a></div>
    <div class="sezione4"><a href="/policies/privacy-policy">Privacy Policy</a></div>
  </div>
  <div class="footer2_box4">
    <p style="font-size: 11px;  font-family:Cormorant,serif; font-weight:lighter">
      ©Rest.aría 2025 - All right reserved
    </p>
  </div>
</div>

{% schema %}
{
  "name": "Footer2",
  "settings": [],
  "presets": [
    {
      "name": "Footer2",
      "settings": {}
    }
  ]
}
{% endschema %}
