{{ 'Luogo_sezione.css' | asset_url | stylesheet_tag }}
<div class="video">
  <video id="video" playsinline autoplay muted loop>
    <source src="https://cdn.shopify.com/videos/c/o/v/31cb397d5ee545929b2a69f2fe95b4d6.mp4" type="video/mp4">
    Il tuo browser non supporta il tag video.
  </video>
</div>
<div class="cont">
  <h1>Cosa vuol dire REST.ARÍA?</h1>
  <hr class="line">
  <p>
    REST.ARÍA e' una parola portoghese; condizionale del verbo "restar" che significa "restare". Questa parola mi evoca
    un senso di permanenza , di continuita' , qualcosa che lascia un'impronta duratura .
  </p>
</div>
<div class="container">
  <div class="text">
    <p id="primo" class="sottotitolo">CHI SIAMO</p>
    <p>
      Benvenuti nel cuore del Borgo Orefici di Napoli, dove tradizione e innovazione si incontrano. La mia storia inizia
      lontano dal mondo dei gioielli.
    </p>
    <p>
      Dopo gli studi di psicologia e dopo aver affrontato un momento importante della mia vita, ho trovato una nuova
      direzione tra le botteghe orafe di Napoli.
    </p>
  </div>
  <div class="images">
    <img
      src="https://cdn.shopify.com/s/files/1/0879/3944/9167/files/Foto_ChiSiamo4.jpg?v=1748033964"
      class="imgsingola shadow"
      alt="Immagine 1"
      width=""
      height=""
    >
  </div>
</div>
<div class="container">
  <div class="text order2">
    <p>Quella che inizialmente era una semplice curiosita' e' diventata poi una passione travolgente.</p>
    <p>Dopo un incontro fondamentale per me, ho osservato, studiato, ed affinato le tecniche innovative..</p>
    <p>
      fino a diventare la prima donna ad aprire un suo laboratorio orafo al borgo orefici, un ambiente tradizionalmente
      patriarcale.
    </p>
  </div>
  <div class="images shadow order1">
    <img
      src="https://cdn.shopify.com/s/files/1/0879/3944/9167/files/Foto_ChiSiamo5.jpg?v=1748033964"
      class="imgsingola shadow"
      alt="Immagine 1"
      width="800"
      height="800"
    >
  </div>
</div>
<div class="container">
  <div class="text">
    <p>
      Vengo da una famiglia di artigiani. Da mio padre ho imparato valori preziosi: l'onesta', il rispetto per il
      proprio lavoro e quello degli altri ma sopratutto l'importanza di puntare sempre alla qualita' , anche quando
      richiede sacrifici.
    </p>
    <p>
      I miei gioielli sono il frutto di tutto il mio percorso di vita : autentici , di qualita' e eleganti; risultato di
      un lavoro artigianale meticoloso.
    </p>
    <p>Creati per essere indossati da chiunque desideri esprimere la propria unicita'.</p>
  </div>
  <div class="images3">
    <img
      src="https://cdn.shopify.com/s/files/1/0879/3944/9167/files/Foto_ChiSiamo2.jpg?v=1748033821"
      class="imgsingola shadow"
      alt="Immagine 1"
      width="500"
      height="500"
    >
    <div class="contimages2">
      <img
        src="https://cdn.shopify.com/s/files/1/0879/3944/9167/files/Foto_Chisiamo3.jpg?v=1748033821"
        alt="Immagine 2"
        width="500"
        height="500"
        class="shadow"
      >
      <img
        src="https://cdn.shopify.com/s/files/1/0879/3944/9167/files/Anelli.jpg?v=1748031667"
        alt="Immagine 3"
        width="500"
        height="500"
        class="shadow"
      >
    </div>
  </div>
</div>
<div class="contenitor">
  <div class="contenitoretesto">
    <div class="testo1">
      <h1>Vieni a Trovarci</h1>
      <p>
        Vieni a trovarci per esplorare una selezione esclusiva di gioielli e creazioni orafe uniche. Lasciati incantare
        dalla qualità artigianale e dalla nostra passione per l’eleganza. Ti aspettiamo per rendere ogni tuo momento
        indimenticabile.
      </p>
    </div>
    <div class="contenitoretesto2e3">
      <div class="testo2">
        <div class="testo2_iconaetesto">
          <img
            src="https://cdn.shopify.com/s/files/1/0879/3944/9167/files/placeholderblackshapeforlocalizationonmaps_79861.svg?v=1740476354"
            alt=""
            width="20"
            height="20"
          >
          <p>Via Liborio Romano 16, Napoli (NA)</p>
        </div>
        <div class="testo2_iconaetesto">
          <img
            src="https://cdn.shopify.com/s/files/1/0879/3944/9167/files/phone-call-auricular-symbol-in-black_icon-icons.com_56483.svg?v=1740476354"
            alt=""
            width="20"
            height="20"
          >
          <p>+39 347823758143</p>
        </div>
        <div class="testo2_iconaetesto">
          <img
            src="https://cdn.shopify.com/s/files/1/0879/3944/9167/files/help_information_info_support_service_faq_question_icon_219356.svg?v=1740476354"
            alt=""
            width="20"
            height="20"
          >
          <p>restaria@email.it</p>
        </div>
        <div class="testo2_iconaetesto">
          <img
            src="https://cdn.shopify.com/s/files/1/0879/3944/9167/files/placeholderblackshapeforlocalizationonmaps_79861.svg?v=1740476354"
            alt=""
            width="20"
            height="20"
          >
          <p>
            Lunedi-Venerdi: 10:00 - 18:00 <br>
            Sabato: 10:00 - 15:00 <br>
            Domenica: Chiusi
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="img1">
    <img
      src="https://cdn.shopify.com/s/files/1/0879/3944/9167/files/Sede.jpg?v=1748035736"
      alt="foto Sede"
      width="500"
      height="500"
    >
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    let observer = new IntersectionObserver(
      (entries) => {
        entries.forEach((entry) => {
          if (entry.isIntersecting) {
            entry.target.classList.add('visible');
          }
        });
      },
      { threshold: 0.2 }
    );

    document.querySelectorAll('img').forEach((img) => {
      observer.observe(img);
    });
  });
</script>

{% schema %}
{
  "name": "Luogo_Sezione",
  "settings": [],
  "presets": [
    {
      "name": "Luogo_Sezione",
      "settings": {}
    }
  ]
}
{% endschema %}
