#video {
  width: 100%;
  height: auto;
}

.cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 7%;
}

.cont h1 {
  font-size: 28px;
  display: flex;
  font-style: italic;
  margin-bottom: 0;
}
.cont p {
  font-size: 20px;
  display: flex;
  text-align: -webkit-center;
  width: 60%;
}
.line {
  display: block !important;
  position: relative;
  align-self: center;
  background-color: #bfbfbf;
  color: #bfbfbf;
  height: 1.3px;
  width: 110px;
  margin: 0;
  top: 0;
  left: 0;
}

#shopify-section-template--24092030009679__luogo_sezione_p4kyQA {
  padding: 2em;
}
.contenitor {
  display: flex;
  flex-direction: row;
  background-color: #efebe8;
  height: auto;
  width: 100%;
  margin: auto;
  max-width: 1400px;
}
.contenitor p {
  font-size: 20px;
}
.contenitor h1 {
  font-size: 28px;
  font-weight: bold;
  font-style: italic;
}
.contenitor h3 {
  font-size: 24px;
}
.contenitoretesto {
  width: 60%;
  height: 100%;
  margin: 3%;
}
.testo2_iconaetesto {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
.testo2_iconaetesto p {
  margin-left: 10px !important;
  margin-top: 5px !important;
  margin: 0;
}

.img1 {
  width: 60%;
  height: auto;
  display: flex;
  overflow: hidden;
  margin-right: 2%;
  aspect-ratio: 1.4 / 1;
}
.img1 img {
  border-radius: 20px;
  object-fit: fill;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
}
/* Sezione foto e testo */
.container {
  display: grid;
  position: relative;
  place-self: center;
  height: auto; /* Altezza della finestra */
  width: 100%;
  max-width: 1400px;
  padding-bottom: 8em;
}
.container2 {
  display: flex;
  flex-direction: row-reverse;
  position: relative;
  place-self: center;
  height: auto; /* Altezza della finestra */
  width: 1400px;
  padding-bottom: 20px;
}
.order1 {
  order: 1;
}
.order2 {
  order: 2;
}
.contimages2 {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 2.4em;
  margin-top: 2.4em;
}
.contimages2 img {
  width: 100% !important;
  height: auto;
  border-radius: 20px;
  aspect-ratio: 1/1.3;
  object-fit: cover;
}
.contimages2 .imgsingola {
  width: 47% !important;
  height: auto;
  margin: 10px;
  border-radius: 20px;
}
.remove-line-height {
  line-height: 0;
}
.text {
  width: 100%;
  position: sticky;
  top: 0; /* Rimane fisso in cima */
  height: auto;
  max-height: max-content;
}
.grass {
  font-weight: bold;
}
body {
  font-size: unset !important;
}
.images {
  width: 100%;
  height: auto;
  max-height: 750px;
  border-radius: 20px;
  overflow: hidden;
}
.images3 {
  width: 100%;
  height: auto;
  border-radius: 20px;
  overflow: hidden;
}
.shadow {
  --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  box-shadow: 0 0 #0000, 0 0 #0000, var(--tw-shadow);
}

.imgsingola {
  width: 100%;
  height: auto;
  object-fit: contain;
  border-radius: 20px;
}
.sottotitolo {
  font-size: 20px;
  margin-top: 80px !important;
  font-weight: bold;
  color: black;
}
.text p {
  font-size: 20px;
  margin-top: 5px;
  color: black;
}
.container img {
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.container img.visible {
  opacity: 1;
  transform: translateY(0);
}


@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@media (min-width: 768px) {
  .container {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 4.8em;
  }
}

/*Layout mobile*/
@media (max-width: 768px) {
  #shopify-section-template--24092030009679__luogo_sezione_p4kyQA {
    padding: 0;
  }
  .video {
    top: 0;
    position: absolute;

    z-index: 0;
  }
  #video {
    object-fit: cover;
    width: 100%;
    height: 100vh;
  }
  .cont {
    position: relative;
    height: 100vh;
    z-index: 1;
    justify-content: center;
    top: -80px;
    padding: 0 1.5em;
    background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(0, 0, 0, 0.08) 33%);
  }
  .cont p,
  .cont h1 {
    color: #ffffff;
  }
  .cont h1 {
    margin-top: 8em;
  }
  .cont p {
    width: 90%;
    line-height: 28px;
  }
  .container {
    padding-bottom: 2em;
  }
  .text {
    position: relative;
    padding: 0 1.5em;
    line-height: 28px;
  }
  .images {
    border-radius: 0;
    padding-left: 1.5em;
    padding-right: 1.5em;
  }
  .imgsingola {
    border-radius: 0;
    height: auto;
    object-fit: fill;
  }
  .contimages2 img {
    border-radius: 0;
  }
  .contenitor {
    width: auto;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    margin: 1.5em;
    background-color: unset;
  }
  .contenitoretesto {
    width: auto;
    line-height: 28px;
    margin: auto;
    padding: 4em;
    background-color: #efebe8;
  }
  .img1 {
    width: 100%;
    height: auto;
    overflow: hidden;
    margin: auto;
    aspect-ratio: unset;
    margin-top: 1.5em;
    display: none;
  }
  .img1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0;
  }
  .contimages2 {
    gap: 1.5em;
    margin-top: 1.5em;
  }
  .sottotitolo{
    margin-top: 0 !important;
  }
  .sottotitolo p{
    font-size: 28px;
    color: black;
  }
  #primo{
    margin-top: 0 !important;
  }
  .order1{
    order:2;
  }
  .order2{
    order:1;
  }
  .images3 {
    border-radius: 0;
    padding-left: 1.5em;
    padding-right: 1.5em;
  }
}
